/*
      El CSS define el aspecto visual de los elementos HTML anteriores.
      
      Si te fijas es bastante legible, cada bloque son un conjunto de nombres
      de estilos y valores (font-size se refiere al tamaño de la fuente, 20px define su valor)
      
      Cada bloque está precedido por una regla que indica a cuales de los elementos HTML
      anteriores se aplica.
      
      Prueba a cambiar cosas y ver el resultado a la derecha.
      
Este es el código de la web que ves a la derecha 👇
      */

      
      * {
        margin: 0;
        padding: 0;
      }


      body {
        display: flex;
        justify-content: center;
        font-family: sans-serif;
        margin-top: 100px;
        background-color: gray;
      }

      section {
        
        padding-left:20px;
        padding-right:20px;
        padding-top:20px;
        padding-bottom:20px;
        box-shadow: 2px 2px 10px black;
        transform: rotate(8deg);
        background-color: white;
        
        
          
      }

      section header h1 {
        
        margin-bottom: 15px;
        color: orange;
        font-size: 20px;
        
      }

      section figcaption {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        
      }

      section figcaption * {
        font-weight: bold;
        color: orange;
        
      }
      img{
        width:600px;
        height:400px;
         
      }